<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>Homepage | The Clubhouse</title>
  </head>
  <body class="font-montserrat bg-rose-50">
    <nav class="fixed top-0 z-20 w-full border-b-1 border-rose-200 bg-white">
      <%- include("partials/nav.ejs") %>
    </nav>
    <main class="relative top-[69px]">
      <header
        class="<%= !locals.user ? 'pt-40 pb-30' : 'pb-20 pt-30' %> relative flex flex-col items-center justify-center gap-6 bg-gradient-to-b from-white to-rose-50"
      >
        <% if (!locals.user) { %>
        <h1 class="z-10 text-center text-6xl font-semibold">
          Welcome to
          <span class="font-clubhouse bg-rose-500 text-rose-50"
            ><i>The Clubhouse!</i></span
          >
        </h1>
        <small class="z-10 text-3xl font-medium text-gray-600"
          ><i>The home for many odinners &#59;&#41;</i></small
        >
        <% } else { %>
        <h1 class="z-10 text-center text-6xl font-semibold">
          Welcome back,
          <span class="font-clubhouse text-nowrap text-ellipsis text-rose-900"
            ><i><%= user.username %></i></span
          >
        </h1>
        <% } %>

        <!-- Abstract dotted circles background -->
        <img
          src="/imgs/circle-abstract-dotted-circles.png"
          alt=""
          class="pointer-events-none absolute left-[300px] size-60 object-cover opacity-10"
        />
        <img
          src="/imgs/circle-abstract-dotted-circles.png"
          alt=""
          class="pointer-events-none absolute -top-40 right-[100px] size-[500px] object-cover opacity-15"
        />
        <img
          src="/imgs/circle-abstract-dotted-circles.png"
          alt=""
          class="pointer-events-none absolute top-60 left-0 size-[400px] object-cover opacity-15"
        />
        <img
          src="/imgs/circle-abstract-dotted-circles.png"
          alt=""
          class="pointer-events-none absolute top-100 right-0 size-[400px] object-cover opacity-5"
        />
      </header>
      <section class="my-10 flex flex-col items-center justify-center gap-10">
        <div
          class="flex h-full items-center justify-center gap-3 text-rose-900"
        >
          <i class="size-7 animate-bounce" data-lucide="arrow-down"></i>
          <h2 class="text-center text-xl font-medium">
            Look for recent posts down here!
          </h2>
        </div>
        <% messages.forEach((message) => { %> <%-
        include("partials/message.ejs", { message, asteriskize }) %> <% }); %>
      </section>
      <%- include("partials/clubModal.ejs"), { isRetryingClub:
      locals.isRetryingClub || false } %> <%-
      include("partials/adminModal.ejs"), { isRetryingAdmin:
      locals.isRetryingAdmin || false } %>
    </main>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const clubPopup = document.getElementById("club-popup");
        const adminPopup = document.getElementById("admin-popup");
        const joinClubBtn = document.getElementById("join-club-btn");
        const adminBtn = document.getElementById("admin-btn");
        const clubModalCloseBtn = document.getElementById(
          "club-modal-close-btn",
        );
        const adminModalCloseBtn = document.getElementById(
          "admin-modal-close-btn",
        );

        // Show the modal
        const showModal = (popup) => {
          popup.classList.remove("opacity-0");
          popup.classList.remove("pointer-events-none");
          popup.classList.add("opacity-100");
          popup.classList.add("pointer-events-auto");
        };

        // Hide the modal
        const hideModal = (popup) => {
          popup.classList.remove("opacity-100");
          popup.classList.remove("pointer-events-auto");
          popup.classList.add("opacity-0");
          popup.classList.add("pointer-events-none");
        };

        if (joinClubBtn) {
          joinClubBtn.addEventListener("click", () => showModal(clubPopup));
        }
        if (clubModalCloseBtn) {
          clubModalCloseBtn.addEventListener("click", () =>
            hideModal(clubPopup),
          );
        }
        if (adminBtn) {
          adminBtn.addEventListener("click", () => showModal(adminPopup));
        }
        if (adminModalCloseBtn) {
          adminModalCloseBtn.addEventListener("click", () =>
            hideModal(adminPopup),
          );
        }
      });
    </script>
  </body>
</html>
