<section
  class="w-[700px] rounded-md border-1 border-rose-200 p-4 shadow-sm shadow-rose-50"
>
  <div class="flex justify-between">
    <div class="mb-4 flex items-center">
      <div
        class="mr-3 flex h-12 w-12 items-center justify-center overflow-hidden rounded-full border-2 border-rose-200 bg-white text-xl font-bold text-white"
      >
        <i
          class="mt-10 size-10 text-rose-500"
          data-lucide="person-standing"
        ></i>
      </div>
      <div>
        <div class="font-semibold text-rose-900">
          <%= locals.user?.is_member ? message.USER.first_name :
          asteriskize(message.USER.first_name) %>
        </div>
        <div class="text-sm text-gray-500">
          <%= locals.user?.is_member ? `@${message.USER.username}` :
          `@${asteriskize(message.USER.username)}` %> • <%= message.created_at
          %>
        </div>
      </div>
    </div>
    <% if (locals.user?.is_admin) { console.log(message)%>
    <div>
      <a href="/delete-message/<%= message.id %>">
        <button
          class="cursor-pointer rounded-md bg-rose-500 p-1.5 text-sm font-medium text-white hover:bg-rose-700"
          type="button"
          id="reply-btn"
        >
          <i class="size-5" data-lucide="trash-2"></i>
        </button>
      </a>
    </div>
    <% } %>
  </div>
  <h2 class="text-lg font-semibold text-rose-900"><%= message.title %></h2>
  <p class="text-gray-700"><%= message.content %></p>
</section>
